<div class="container">
<!-- <div class="menu-filler">&nbsp;</div> -->
<div class="row">
    <div class="col-md-12 featured-cont">
      <div class="h-search-panel-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-2">
                    <div class="form-group">
                        <select class="form-control">
                          <option>Make</option>
                          <option>Toyota</option>
                          <option>Nissan</option>
                          <option>Honda</option>
                          <option>Mazda</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form-group">
                        <select class="form-control">
                          <option>Model</option>
                          <option>Camry</option>
                          <option>Prius</option>
                          <option>Auris</option>
                          <option>Vitz</option>
                        </select>
                    </div>                   
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form-group">
                        <select class="form-control">
                          <option>Body Type</option>
                          <option>Sedan</option>
                          <option>Hatchback</option>
                          <option>Van</option>
                          <option>Airplane</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 range-cont">
                    <div class="form-group">
                        <select class="form-control">
                          <option>Min Year</option>
                          <option>2001</option>
                          <option>2002</option>
                          <option>2003</option>
                          <option>2004</option>
                          <option>2005</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                          <option>Max Year</option>
                          <option>2001</option>
                          <option>2002</option>
                          <option>2003</option>
                          <option>2004</option>
                          <option>2005</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 range-cont">
                    <div class="form-group">
                        <select class="form-control">
                          <option>Min Price</option>
                          <option>$1000</option>
                          <option>$2000</option>
                          <option>$3000</option>
                          <option>$4000</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Max Price</option>
                            <option>$1000</option>
                            <option>$2000</option>
                            <option>$3000</option>
                            <option>$4000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 col-12">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Keywords" class="form-control"/>
                        </div>                   
                    </div>                
                <div class="col-md-12 col-lg-8 col-12 advanced-search">
                    <span class="btn-search-action-cont">
                            <button class="btn btn-primary btn-search-action submit-search">Search Car</button>
                            <button class="btn btn-primary btn-search-action reset-search">Reset</button>
                    </span>
                </div>
            </div>
        </div>
      </div> 
    </div>
</div>
</div>

