.footer{
    height: 70px;
    color: #206ecc;
    padding-top:18px;
    text-align: center;
    background-color: #fff;
    .links{
        font-size: 0.9em;
    }
    .copyright{
        font-size: 0.85em;
        color: #888;
    }
}