<div class="container-fluid" id="testimonials-section">
  <div class="container">
    <div class="row finance-cont">
      <div class="col-md-6 col-sm-12 col-xs-12 text-content">
        <h1 class="header">Get Easy Finance</h1>
        <p class="section-text">
            as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy         
        </p>
        <div class="section-btn-link-cont">
            <a class="section-btn-link" href="#" alt="Apply Easy Finance">Easy isn't? Get started Now</a>
        </div>        
      </div>
      <div class="col-md-6 col-sm-12  col-xs-12">
        <!-- <div class="section-img-cont">
          <img alt="get finance super easy" 
          src="https://images.unsplash.com/photo-1521709986901-579827f9924a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=087ed0470bf2e3f2afb83b62d8bc510e&auto=format&fit=crop&w=1398&q=80"/>
        </div> -->
      </div>     
    </div>
  </div>
</div>