@import "../../../sass/variables.scss";

.container-fluid{
    // background-color:#fff;
    // margin-bottom: 20px;
    // border-top:1px solid #dedede;
    background: url('../../../../assets/images/testimonials.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials-cont{
    // padding-left:0px;
    // padding-right:0px;
    padding-top:70px;
    padding-bottom:70px; 
    .text-content{
        @extend %text-content;
    }
    h1.header{
        @extend %section-header;
        margin:0px;
        padding-bottom:30px;
        text-align:center;
    }
    /**testimony carousel*/
    .item-btn{
        font-size: 4.5em;
        padding: 20px;
        /* background: #1389f4; */
        color: #1389f4;
        cursor: pointer;
        top: 0px !important;
        margin-bottom: 200p;
    }
    .item-btn:hover{
        opacity:0.9;
    }
    .controls[_ngcontent-c14] button[_ngcontent-c14]{
        padding:0px !important;
    }
    .items{
        padding:15px;
        margin:15px;
        opacity:0.9;
             /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebedee+100 */
             background: #ffffff; /* Old browsers */
             background: -moz-linear-gradient(top, #ffffff 0%, #ebedee 100%); /* FF3.6-15 */
             background: -webkit-linear-gradient(top, #ffffff 0%,#ebedee 100%); /* Chrome10-25,Safari5.1-6 */
             background: linear-gradient(to bottom, #ffffff 0%,#ebedee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebedee',GradientType=0 ); /* IE6-9 */       
        &:first-child{
            // padding-left:0px;
        }
        img{
            max-width:250px;
            height:170px;
        }
        .item-msg{
            position:relative; 
            @extend %section-text;
            margin:0px;
            color:#666;
            // font-style:italic;
            padding: 20px 40px;
            padding-bottom:20px;
            width:320px;
            
        }
        .person-name{
            @extend %section-text;
            margin:0px;
            color:#888;
            padding:20px 40px;
            padding-top:0px;
            span:first-child{
                color:#444;
                font-weight: bold;
            }

        }
    }
    div.section-text{
        @extend %section-text;
        font-size:1.1em;
        background:#fff;
        padding:40px;
        padding-bottom:80px; 
        box-shadow: 1px 1px 70px rgba(5,5,5,0.1);
        overflow: auto;
        .section-img{
            margin-bottom:15px;
            img{
                width:160px; 
                height:120px; 
            }
        }
    }
    .section-btn-link-cont{
        position:absolute;
        bottom:15px;
        font-weight: bold; 
        right:15px;

        @media(max-width:767px){
            position: relative;
            padding-left: 15px;
            top: 10px;
        }
    }
    a.section-btn-link{
        @extend %section-btn-link;
    }
    .tes-customer{
        bottom: 40px;
        position: absolute;
        clear: both;

        .position{
            color:eee;
        }
        .name{
            color:$highlight_color;
        }
    }

    
}