<div class="container">
  <div class="row filter-cont">
    <div class="col-md-12 col-lg-7 col-12 filter-cell-cont">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-6 filter-cell">
              <span class="filter-title">Search Results</span>
              <span class="filter-value" style="font-weight: bold;">&nbsp;1,503</span>
            </div>
            <div class="col-md-3 col-sm-6 col-6 filter-cell">
              <div class="filter-select">
                <span>Sort By</span>
                &nbsp;<span>
                  <select>
                    <option value="Latest">Latest</option>
                  </select>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 filter-cell">
                <div class="filter-select">
                  <span>Page Number</span>
                  &nbsp;<span>
                    <select>
                      <option value="01">01</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 filter-cell">
                  <div class="filter-select">
                    <span>Items per Page</span>
                    &nbsp;<span>
                      <select>
                        <option value="09">09</option>
                      </select>
                    </span>
                  </div>
                </div>
      </div>

    </div>
    <div class="col-md-12 col-lg-5 col-12 filter-cell-cont">
      <div class="row">
          <div class="col-md-6 filter-cell">
              <span class="page-btn"><< Prev</span>
              <span class="page-btn">Next >></span>
            </div>
            <div class="col-md-6 filter-cell save-search-cont">
                <!-- <span class="page-btn-search new-search">New Search</span> -->
                &nbsp;
                <span class="page-btn-search save-search">Save Search</span>
            </div>
      </div>
    </div>

  </div>
</div>