<div class="container-fluid cont">
<div class="container-fluid filter">
  <div class="container">
      <div class="row carousel-featured-cont">
          <div class="filler"></div>
          <div class="col-md-12 carousel-cont">
              <div class="col-md-12 col-sm-12 col-xs-12 title-cont">
                  <div class="title"><h1>Drive your next car</h1></div>
                  <div class="sub-title">
                      <p>Carhex is a trusted company in selling used cars from overseas.<br>
                    Made car purchasing seamless, secured and affordable.</p>
                  </div>
                  <div style="position:relative; margin-top:20px;">
                    <span class="carousel-btn">Get Started</span>
                  </div>
              </div>              
        </div>
  </div>
</div>
</div>
