<div class="auth-cont row">
      <div class="auth-cont-col col-md-6 col-xs-12 col-xs-12">
        <div class="header"><fa-icon [icon]="faUserPlus"></fa-icon>&nbsp; Signup</div>
        <div class="form-container">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control"/>
            </div>        
            <div class="form-group">
                <input type="Password" placeholder="Password" class="form-control"/>
            </div>     
            <div class="form-group">
                <input type="Password" placeholder="Confirm Password" class="form-control"/>
            </div>                           
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control"/>
            </div>     
            <div class="form-group">
                <input type="text" placeholder="Last Name" class="form-control"/>
            </div>     
            <div class="form-group">
                <div class="submit-btn signup-btn">Signup</div>
            </div>                           
        </div>
      </div>
      <div class="auth-cont-col col-md-6 col-xs-12">
          <div class="header"><fa-icon [icon]="faSignInAlt"></fa-icon>&nbsp; Login</div>
          <div class="form-container">
              <div class="form-group">
                  <input type="text" placeholder="Username" class="form-control"/>
              </div>        
              <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control"/>
              </div>  
              <div class="form-group">
                <div class="submit-btn login-btn">Login</div>
              </div>                           
              <div class="form-group">
                <div class="or">OR</div>
              </div>        
              <div class="form-group">
                <div class="submit-btn fb-btn">Facebook Login</div>
              </div>        
          </div>
             
      </div>
</div>